In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import scipy.stats as stat
data=pd.read_csv('sales_add.csv')
data.head()

,Month,Region,Manager,Sales_before_digital_add(in $),Sales_After_digital_add(in $)
0,Month-1,Region - A,Manager - A,132921,270390
1,Month-2,Region - A,Manager - C,149559,223334
2,Month-3,Region - B,Manager - A,146278,244243
3,Month-4,Region - B,Manager - B,152167,231808
4,Month-5,Region - C,Manager - B,159525,258402

In [2]:
data.isnull().sum()

Month                             0
Region                            0
Manager                           0
Sales_before_digital_add(in $)    0
Sales_After_digital_add(in $)     0
dtype: int64

# 1.The company wishes to clarify whether there is any increase in sales after stepping into digital marketing.

In [ ]:
Hypothesis:
H_0 : There is no significant difference between increase in sales after stepping into digital marketing.
H_1 : There is significant difference between increase in sales after stepping into digital marketing.

In [3]:
from scipy.stats import ttest_rel
data1=ttest_rel(data["Sales_before_digital_add(in $)"],data["Sales_After_digital_add(in $)"])
data1

Ttest_relResult(statistic=-12.09070525287017, pvalue=6.336667004575778e-11)

pvalue<0.05,there is significant difference between increase in sales after stepping into digital marketing.

In [4]:
import scipy.stats
t_val=scipy.stats.t.ppf(1-0.05,21)
print("t_val =",t_val)

t_val = 1.7207429028118775

In [7]:
t_testval=abs(data1[0])
if (t_testval)>=(t_val):
    print("Reject H0,there is a increase in sales afterstepping into digital marketing.")
else:
    print("Retain H0,there is no increase in sales afterstepping into digital marketing.")

Reject H0,there is a increase in sales afterstepping into digital marketing.

Hence, there is a significant increase in sales after doing Digital advertisements.

# 2.The company needs to check whether there is any dependency between the features "Region" and "manager"

In [8]:
data_crosstab = pd.crosstab(data["Region"],data["Manager"])
data_crosstab

Manager     Manager - A  Manager - B  Manager - C
Region
Region - A            4            3            3
Region - B            4            1            2
Region - C            1            3            1

In [11]:
from scipy.stats import chi2_contingency
stat,p,dof, expected = chi2_contingency(data_crosstab)

In [15]:
print(f"The Test chi-square value is : {stat}")
print(f"\nThe p-Value is : {p}" )
print(f"\nThe Degree of freedom is : {dof}")

The Test chi-square value is : 3.050566893424036

The p-Value is : 0.5493991051158094

The Degree of freedom is : 4

In [ ]:
 Reject the Null Hypothesis,There is no dependency between the features “Region” and “Manager”.